demo/
plugins_old/
repos/
.DS_store
plugins/dlibFaceLandmarkDetection/csharp
plugins/dlibFaceLandmarkDetection/csharp_old
plugins/dlibFaceLandmarkDetection/test_data
plugins/OpenCVSharp
plugins/dlibFaceLandmarkDetection/opencv4
plugins/OpenCv